.Skin .closed #TocSidebarIcons,
.Skin .reduced #TocSidebarIcons {
    padding-left: 20px
}

@media only screen and (max-width:1400px) {

    .Skin .closed #TocSidebarIcons,
    .Skin .reduced #TocSidebarIcons {
        padding-left: 10px
    }
}

.Skin #TocSidebarContainer {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    background: #fff
}

.Skin #TocSidebarContainer.reduced {
    background: #fff;
    left: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.Skin #TocSidebarContainer.closed {
    box-shadow: none;
    transition: 0s linear left
}

.Skin #Toc a,
.Skin #Toc strong,
.Skin #TocHeader a {
    color: #525252
}

.Skin #Toc li.Incomplete a {
    color: #525252
}

.Skin #Toc li.Current,
.Skin #Toc li.Current a,
.Skin #Toc li.Current strong,
.Skin #TocHeader td.Current a,
.Skin body #Toc li.Current a {
    background-color: #009edb;
    color: #000
}

.Skin #Toc li.Alert a {
    color: red
}

#TocHeaderContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.TocMargin #SkinContent {
    padding-top: 48px
}

.TocMargin .Skin .LanguageSelectorContainer {
    padding: 0 20px 0 0
}

#TocHeader {
    position: relative
}

#TocHeader table {
    width: 100%
}

#TocHeader a {
    text-align: center
}

#TocSidebarContainer {
    /* position: absolute; */
    position: inherit;
    top: 0;
    z-index: 5000;
    overflow: hidden;
    transition: left .5s ease-in-out;
    left: -220px
}

#TocSidebarContainer.reduced {
    top: 0
}

#TocSidebarContainer.reduced.closed {
    z-index: 0;
    transition: left 1s linear;
    left: 0
}

#TocSidebarContainer.closed {
    background: 0 0 !important;
    left: 0;
    z-index: 0
}

.Skin #Buttons {
    position: relative;
    z-index: 1
}

.closed #TocSidebar,
.reduced #TocSidebar {
    left: 0
}

#TocSidebarIcons {
    background-color: transparent;
    height: 18px;
    width: 18px;
    padding: 15px;
    overflow: hidden;
    box-sizing: content-box;
    float: left
}

.closed #TocSidebarIcons,
.reduced.closed #TocSidebarIcons {
    transition: all .5s ease-in-out
}

#TocIcon {
    background-image: url(/jfe/themes/base-templates/qualtrics/2014/version-1662434126012-6ce8ff/files/flowicons.png);
    background-position: -246px -1px;
    width: 16px;
    height: 16px;
    float: left
}

#TocArrow {
    background-image: url(/jfe/themes/base-templates/qualtrics/2014/version-1662434126012-6ce8ff/files/editwidgets.png);
    background-position: -1px -60px;
    width: 10px;
    height: 10px;
    float: right;
    margin-top: 5px;
    display: none
}

.closed #TocArrow {
    background-position: -11px -60px
}

#TocSidebarContent {
    border: none;
    margin-left: 0;
    width: 200px;
    background-color: transparent;
    transition: margin .5s ease-in-out;
    padding-bottom: 20px
}

.closed #TocSidebarContent {
    display: block;
    visibility: visible
}

.closed.reduced #TocSidebarContent {
    display: block;
    margin-left: -150px;
    visibility: visible
}

#Toc {
    padding: 0;
    background-color: transparent;
    position: relative;
    z-index: 1
}

#TocSidebar .Footer,
#TocSidebar .Header {
    font-size: 80%
}

#TocSidebar .Header {
    padding-bottom: 5px;
    min-height: 5px
}

#TocSidebar .Footer {
    padding-top: 5px;
    min-height: 5px
}

#Toc ul {
    margin: 0;
    padding: 0
}

#Toc ul {
    margin: 2px 0;
    list-style-type: none
}

#Toc li {
    margin: 2px 0;
    list-style-type: none;
    display:inline-block;
}

#Toc a,
#Toc strong,
#TocHeader a {
    padding: 4px 20px 4px 20px;
    display: block;
    font-size: 14px
}

#TocSidebar a {
    text-decoration: none
}

#Toc ul a,
#Toc ul strong {
    padding-left: 20px
}

#Toc ul ul a,
#Toc ul ul strong {
    padding-left: 36px
}

#Toc ul ul ul a,
#Toc ul ul ul strong {
    padding-left: 62px
}

#Toc ul ul ul ul a,
#Toc ul ul ul ul strong {
    padding-left: 78px
}

#Toc li.Complete a {
    color: #009edb
}

#Toc li span.TocIcon {
    height: 16px;
    width: 16px;
    display: block;
    float: left;
    font-size: 10px;
    line-height: 16px
}

#Toc li span.TocText {
    display: block;
    margin-left: 21px
}

#Toc li.Complete span.TocIcon,
#TocHeader td.Complete span.TocIcon {
    background: url(/jfe/themes/base-templates/qualtrics/2014/version-1662434126012-6ce8ff/files/widgets.png) no-repeat scroll -112px -224px transparent
}

#Toc li.Complete.Current span.TocIcon,
#TocHeader td.Complete.Current span.TocIcon {
    background: url(/jfe/themes/base-templates/qualtrics/2014/version-1662434126012-6ce8ff/files/widgets.png) no-repeat scroll -112px -240px transparent
}

#Toc li.Authenticator span.TocIcon,
#TocHeader td.Authenticator span.TocIcon {
    background: url(/jfe/themes/base-templates/qualtrics/2014/version-1662434126012-6ce8ff/files/widgets.png) no-repeat scroll -269px -225px transparent
}

#Toc li.Authenticator.Current span.TocIcon,
#TocHeader td.Authenticator.Current span.TocIcon {
    background: url(/jfe/themes/base-templates/qualtrics/2014/version-1662434126012-6ce8ff/files/widgets.png) no-repeat scroll -269px -241px transparent
}

#Toc li.Alert span.TocIcon,
#TocHeader td.Alert span.TocIcon {
    background: url(/jfe/themes/base-templates/qualtrics/2014/version-1662434126012-6ce8ff/files/widgets.png) no-repeat scroll -255px -224px transparent
}

#Toc li.Alert.Current span.TocIcon,
#TocHeader td.Alert.Current span.TocIcon {
    background: url(/jfe/themes/base-templates/qualtrics/2014/version-1662434126012-6ce8ff/files/widgets.png) no-repeat scroll -255px -240px transparent
}

#Toc li.Disabled {
    display: none
}

#TocHeader td span.TocIcon {
    height: 16px;
    width: 16px;
    display: inline-block;
    font-size: 10px;
    line-height: 16px;
    margin-right: 5px
}

.Hidden {
    display: none
}

#TocIcon {
    background-image: none;
    display: inline-block;
    width: 18px;
    height: 3px;
    background: #009edb;
    border-radius: 1.5px;
    transition: .3s;
    position: relative;
    top: 8px
}

#TocIcon:after,
#TocIcon:before {
    display: inline-block;
    width: 18px;
    height: 3px;
    background: #009edb;
    border-radius: 1.5px;
    transition: .3s;
    position: absolute;
    right: 0;
    content: ""
}

#TocIcon:before {
    top: 6px
}

#TocIcon:after {
    top: -6px
}

.reduced #TocIcon:before {
    left: 0
}

.reduced #TocIcon:after {
    left: 0
}

.closed #TocIcon:before {
    top: 6px;
    width: 18px
}

.closed #TocIcon:after {
    top: -6px;
    width: 18px
}